.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Route Content Styles */
.route-container {
  padding: 20px;
}

.route-content {
  max-width: 800px;
  margin: 0 auto;
}

.menu-container {
  background-color: #333; /* Dark background color */
  padding: 10px;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-item {
  margin: 0 15px;
}

.menu-link {
  text-decoration: none;
  color: #fff; /* White text color */
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

.menu-link:hover {
  color: #ff5722; /* Highlight color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
